
header {
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    border-bottom: 10px solid #000 ;
    padding: 10px 20px;
}

nav {

    text-align: right;
}
#logo {
    max-width: 60px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code',Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform .3s;
}

a::before {
    content: "";
    background-color: #FFB30f;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
a:hover {
    transform: scale(1.1);
    color: #FFB30f;
}

#button {
    display: inline-block;
    background-color: #FFB30f;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
}

.zoom {
    transition: transform .3s;
}

#button:hover {
    transform: scale(1.1);
    color: #262626;
}